html {
  font-family: 'Monaco';
  font-size: 9pt;
  background-color: #000;
  color: #f0f0f0;
}
body {}

.url { color: #99cf50; }
.address {}
.highlight {
  font-size: 160%;
  font-weight: normal;
  padding: 0 3px;
  color: #e28964;
}

.line {}
.line[alternate=even] {}
.line[alternate=odd] {}

.time { color: #3387bc; }
.place { color: #3387bc; }

.sender[type=normal] { color: #3e87e3; }
.sender[type=myself] { color: #89bdff; }

.line[type=privmsg] {}
.line[type=notice] { color: #888; }
.line[type=action] { color: #8f9d6a;}

.line[type=system], .line[type=join], .line[type=part], .line[type=kick],
.line[type=quit], .line[type=kill], .line[type=nick], .line[type=mode],
.line[type=topic], .line[type=invite], .line[type=wallops] {
  color: #65b042;
}
.line[type=reply] { color: #509036; }

.line[type=error], .line[type=error_reply] { color: #f67b37; }
.line[type=dcc_send_send] { color: #c5af75; }
.line[type=dcc_send_receive] { color: #f9ee98; }
.line[type=debug_send] { color: #8996a8; }
.line[type=debug_receive] { color: #afc4db; }
