<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>application.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.limechat.LimeChat-AppStore</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>2.27</string>
	<key>CFBundleShortVersionString</key>
	<string>2.27</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>LimeChatApplication</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2007-2011 Satoshi Nakagawa</string>
	<key>CFBundleGetInfoString</key>
	<string>LimeChat for Mac, Copyright 2007-2011 Satoshi Nakagawa</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Internet Relay Chat</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>irc</string>
				<string>limechat</string>
			</array>
		</dict>
	</array>
	<key>LCApplicationName</key>
	<string>LimeChat for Mac</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
</dict>
</plist>
